html {
  height: 100vh;
  font-family: "Vent Sans", sans-serif;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ff00002b;
  height: 100vh;
}

h1 {
  font-family: "Bangers", system-ui;
  text-align: center;
  font-size: 5rem;
  filter: drop-shadow(0px 16px 6px #525252);
}

main {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h2 {
  font-family: "Bangers", system-ui;
  font-size: 3rem;
  filter: drop-shadow(0px 8px 6px #525252);
  height: 5vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  height: 60vh;
  padding: 1rem;
}

.container > p {
  text-align: center;
  font-size: 24px;
  margin: 2rem;
  font-weight: 800;
}

.answer {
  width: 80vw;
  height: 4rem;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-radius: 20px;
  filter: drop-shadow(0px 6px 9px #363636);
  border: none;
  background-color: rgb(244 67 54 / 52%);
}

.answer:hover {
  font-size: 28px;
  background-color: rgb(77 200 82 / 36%);
}

.btn {
  position: relative;
  width: 100%;
}

.btn > button,
#restart > button,
form > button {
  width: 12rem;
  height: 3rem;
  font-size: 20px;
  position: absolute;
  border-radius: 25px;
  font-weight: 900;
  filter: drop-shadow(0px 6px 9px #363636);
  border: none;
  background-color: rgb(239 135 59 / 46%);
}

.btn > button:hover {
  font-size: 26px;
}

footer {
  display: flex;
  font-size: 12px;
  height: 4vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer > p {
  font-size: 16px;
}

#theme {
  position: initial;
  display: flex;
  flex-direction: column;
}

#theme > button {
  position: initial;
  margin-top: 3rem;
}

.message-end {
  display: none;
  position: absolute;
  top: 9rem;
  font-size: 4rem;
}

#after {
 right: 35vw;
 width: 30vw;
 top: 8vh;
}

#message-good-answer {
  display: none;
  font-size: 6vw;
  font-weight: 600;
  color: green;
}

#message-wrong-answer {
  display: none;
  font-size: 6vw;
  font-weight: 600;
  color: red;
}

#restart {
  display: none;
  width: 60vw;
  left: 20vw;
  bottom: 7vh;
  height: 7vh;
}

#menu {
  display: none;
  left: 20vw;
  width: 60vw;
  top:0vh;
  height: 7vh;
}

.message-end {
  text-align: center;
  display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
  top: 11vh;
    font-size: 5vw;
  font-weight: 100;
  white-space: pre-line;
}

.super-heros-icon {
  width: 6vw;
  height: 9vh;
  margin-top: 2vh;
}

.jeux-videos-icon {
  width: 6vw;
  height: 9vh;
}

#super-heros-perfect-icon {
   top: 19vh;
  left: 26vw;
    height: 12vh;
    width : 12vh
}

#super-heros-good-icon {
   top: 19vh;
  left: 23vw;
    height: 12vh;
    width : 12vh
}

#super-heros-notbad-icon {
   top: 19vh;
  left: 26vw;
    height: 12vh;
    width : 12vh
}

#super-heros-bad-icon {
    top: 19vh;
    left: 26vh;
    height: 12vh;
    width: 12vh;
}

#super-heros-verybad-icon {
   top: 17vh;
  left: 31vw;
    height: 12vh;
    width : 12vh
}

#jeux-videos-perfect-icon {
  top: 19vh;
  left: 26vw;
  height: 12vh;
  width : 12vh
}

#jeux-videos-good-icon {
  top: 19vh;
  left: 22vw;
  height: 12vh;
  width : 12vh
  
}

#jeux-videos-notbad-icon {
   top: 19vh;
  left: 24vw;
    height: 12vh;
    width : 12vh
}

#jeux-videos-bad-icon {
  top: 19vh;
  left: 24vw;
  height: 12vh;
  width : 12vh;
}

#jeux-videos-verybad-icon {
  top: 19vh;
  left: 21vw;
  height: 12vh;
  width : 12vh;
}

#title-super-heros {
  display: none;
}

#title-jeux-videos {
  display: none;
}

#super-heros {
  width: 50vw;
  left: 25vw;
  top: 25vh;
  height: 5rem;
}

#jeux-videos {
  width: 50vw;
  left: 25vw;
  bottom: 27vh;
  height: 5rem;
}

 @media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  .container > p {
    margin: 1rem;
    margin-bottom: 1rem;
    font-size: 21px;
  }

  .answer {
    margin-bottom: 4vh;
    height: 3rem;
  }

  #message-wrong-answer {
    position: absolute;
    bottom: 12vh;
    font-size: 5vh;
  }

  #message-good-answer {
    position: absolute;
    bottom: 12vh;
    font-size: 5vh;
  }

  .message-end {
    top: 4rem;
    font-size: 4vh;
  }

  #restart {
    width: 60vw;
    left: 20vw;
    bottom: 0vh;
    height: 7vh;
  }

  #menu {
   top: 4vh
  }

  #after {
    top: 5vh;
  }
}


@media (min-width: 1024px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }

  .container > p {
    font-size: 26px;
  }

  .answer {
    font-size: 30px;
    margin-bottom: 4vh;
    height: 4rem;
  }

  #message-wrong-answer {
    bottom: 14vh;
    font-size: 7vh;
  }

  #message-good-answer {
    bottom: 14vh;
    font-size: 7vh;
  }

  #after {
    height: 4rem;
    font-size: 30px;
    height: 5rem;
    top: 3vh;
  }

  #restart {
    bottom: 0rem;
    height: 5rem;
  }

  #menu {
    bottom: 5rem;
    height: 5rem;
  }

  footer > p {
    font-size: 25px;
  }
} 


