html {
  height: 100vh;
  font-family: "Vent Sans", sans-serif;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ff00002b;
  height: 100vh;
}

h1 {
  font-family: "Bangers", system-ui;
  text-align: center;
  font-size: 4rem;
  filter: drop-shadow(0px 16px 6px #525252);
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h2 {
  font-family: "Bangers", system-ui;
  font-size: 2rem;
  filter: drop-shadow(0px 8px 6px #525252);
  height: 5vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  height: 60vh;
  padding: 1rem;
}

.container > p {
  text-align: center;
  font-size: 24px;
  margin: 2rem 0;
  font-weight: 800;
}

.answer {
  width: 80vw;
  height: 4rem;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-radius: 20px;
  filter: drop-shadow(0px 6px 9px #363636);
  border: none;
  background-color: rgb(244 67 54 / 52%);
}

.answer:hover {
  font-size: 28px;
  background-color: rgb(77 200 82 / 36%);
}

.btn {
  position: relative;
  width: 100%;
}

.btn > button,
#restart > button,
form > button {
  width: 12rem;
  height: 3rem;
  font-size: 20px;
  position: absolute;
  border-radius: 25px;
  font-weight: 900;
  filter: drop-shadow(0px 6px 9px #363636);
  border: none;
  background-color: rgb(239 135 59 / 46%);
}

.btn > button:hover {
  font-size: 26px;
}

footer {
  display: flex;
  font-size: 12px;
  height: 4vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer > p {
  font-size: 16px;
}

#theme {
  position: initial;
  display: flex;
  flex-direction: column;
}

#theme > button {
  position: initial;
  margin-top: 3rem;
}

.message-end {
  display: none;
  position: absolute;
  top: 9rem;
  font-size: 4rem;
}

#after {
  right: 34vw;
  top: 8vh;
  width: 34vw;
}

#message-good-answer {
  display: none;
  font-size: 6vw;
  font-weight: 600;
  color: green;
}

#message-wrong-answer {
  display: none;
  font-size: 6vw;
  font-weight: 600;
  color: red;
}

#after {
  right: 16vw;
  width: 16vw;
}

#restart {
  display: none;
  width: 60vw;
  left: 20vw;
  bottom: 20vh;
  height: 10vh;
}

#menu {
  display: none;
  left: 20vw;
  width: 60vw;
  bottom: 5vh;
  height: 10vh;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  .container > p {
    margin: 1rem;
    margin-bottom: 1rem;
    font-size: 21px;
  }
  .answer {
    margin-bottom: 4vh;
    height: 3rem;
  }
  #message-wrong-answer {
    position: absolute;
    bottom: 12vh;
    font-size: 5vh;
  }
  #message-good-answer {
    position: absolute;
    bottom: 12vh;
    font-size: 5vh;
  }
  .message-end {
    top: 4rem;
  }
  #restart > button {
    bottom: 11rem;
  }
  #after {
    top: 5vh;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3rem;
  }
  .container > p {
    font-size: 26px;
  }
  .answer {
    font-size: 30px;
    margin-bottom: 4vh;
    height: 4rem;
  }
  #message-wrong-answer {
    bottom: 14vh;
    font-size: 7vh;
  }
  #message-good-answer {
    bottom: 14vh;
    font-size: 7vh;
  }
  #after {
    height: 4rem;
    font-size: 30px;
    height: 5rem;
    top: 3vh;
  }
  #restart > button {
    bottom: 18rem;
    height: 8rem;
  }
  #menu {
    bottom: 5rem;
    height: 8rem;
  }
  footer > p {
    font-size: 25px;
  }
}
/* 
RAJOUTER */

.message-end {
  text-align: center;
  top: 16vh;
  font-size: 3vw;
  font-weight: 100;
  white-space: pre-line;
}
.super-heros-icon {
  width: 6vw;
  height: 9vh;
  position: absolute;
}

.jeux-videos-icon {
  width: 6vw;
  height: 9vh;
  position: absolute;
}

#super-heros-perfect-icon {
  bottom: 0vh;
  left: 47vw;
}

#super-heros-good-icon {
  bottom: 1vh;
  left: 44vw;
}

#super-heros-notbad-icon {
  bottom: 1vh;
  left: 48vw;
}

#super-heros-bad-icon {
  bottom: 1vh;
  left: 44vw;
}

#super-heros-verybad-icon {
  bottom: 0vh;
  left: 52vw;
}

#jeux-videos-perfect-icon {
  bottom: 1vh;
  left: 47vw;
}

#jeux-videos-good-icon {
  bottom: 1vh;
  left: 42vw;
}

#jeux-videos-notbad-icon {
  bottom: 1vh;
  left: 48vw;
}

#jeux-videos-bad-icon {
  bottom: 0vh;
  left: 46vw;
}

#jeux-videos-verybad-icon {
  bottom: 0vh;
  left: 46vw;
}

#title-super-heros {
  display: none;
}

#title-jeux-videos {
  display: none;
}

/* ACCUEIL */

#super-heros {
  width: 18vw;
  left: 41vw;
  top: 30vh;
}

#jeux-videos {
  width: 18vw;
  left: 41vw;
  top: 44vh;
}
